body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.note {
    width: 60vw;
    border: 2px solid black;
    text-align: left;
    margin-bottom: 10px;
}

table {
    height: 40vh;
    width: 60vw;
    margin-bottom: 10px;
}

table,
td,
th {
    text-align: center;
    border: 2px solid black;
}

button {
    cursor: pointer;
    height: 40px;
    width: 170px;
}